@import "tailwindcss";

/* 일단 스타일이 먹는지 확인하기 위해 배경색을 강제로 지정해봅니다 */
body {
    background-color: #f3f4f6 !important;
}

@layer base {
  img {
    /* "멋대로 줄어들지 마!" */
    max-width: unset; 
    
    /* "내가 정한 크기 그대로 유지해!" */
    flex-shrink: 0;   
  }
}